In [3]:
import yfinance as yf

tickers = ["BIMAS.IS","THYAO.IS","HTTBT.IS"]

data = yf.download(tickers, start="2025-01-01", end="2025-02-01")

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2416790697.py:5: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start="2025-01-01", end="2025-02-01")
[*********************100%***********************]  3 of 3 completed

In [11]:
data

Price            Close                               High             \
Ticker        BIMAS.IS   HTTBT.IS    THYAO.IS    BIMAS.IS   HTTBT.IS
Date
2025-01-02  526.777344  46.400002  283.748047  538.681916  50.000000
2025-01-03  526.777344  41.759998  294.110992  533.225654  46.660000
2025-01-06  529.257446  42.580002  293.124054  532.233589  43.540001
2025-01-07  522.809143  41.759998  289.669739  530.249501  43.360001
2025-01-08  529.753479  41.160000  289.176270  531.737574  42.779999
2025-01-09  519.336975  41.480000  290.903412  536.697810  42.220001
2025-01-10  518.840942  41.000000  289.669739  527.769372  41.980000
2025-01-13  519.833008  41.299999  285.968658  519.833008  41.400002
2025-01-14  510.904572  41.419998  289.669739  527.273359  42.340000
2025-01-15  508.424469  41.099998  291.150146  514.376755  41.740002
2025-01-16  499.992065  42.240002  293.864258  516.856877  42.720001
2025-01-17  504.952301  42.380001  299.539215  508.424468  42.919998
2025-01-20  516.360840  42.000000  301.759857  518.840959  42.900002
2025-01-21  517.352905  40.200001  297.318604  524.793263  41.799999
2025-01-22  517.352905  41.959999  301.266388  520.329049  42.139999
2025-01-23  510.904572  42.740002  305.707672  522.809144  42.779999
2025-01-24  509.912537  43.840000  304.967438  514.376751  45.080002
2025-01-27  501.480133  42.680000  302.500092  507.432420  44.200001
2025-01-28  518.344910  41.840000  307.681549  519.336957  43.119999
2025-01-29  542.154053  41.700001  308.915253  550.586458  42.919998
2025-01-30  548.106384  41.279999  308.915253  552.570599  42.820000
2025-01-31  545.626221  41.700001  312.863037  553.562602  42.259998

Price                          Low                               Open  \
Ticker        THYAO.IS    BIMAS.IS   HTTBT.IS    THYAO.IS    BIMAS.IS
Date
2025-01-02  283.748047  521.817105  46.400002  277.579611  525.785296
2025-01-03  295.838154  520.825057  41.759998  284.241496  527.769391
2025-01-06  296.084903  524.793232  40.580002  291.396892  527.769375
2025-01-07  294.357750  520.329024  41.759998  289.176264  527.769382
2025-01-08  291.150169  518.840954  41.160000  287.202370  523.305169
2025-01-09  293.617523  519.336975  41.340000  288.682775  532.233595
2025-01-10  293.864275  517.848895  40.980000  288.682789  521.817085
2025-01-13  290.656669  507.928435  39.900002  283.501284  518.344936
2025-01-14  291.396901  510.408548  41.400002  286.215415  523.801192
2025-01-15  294.604470  499.496039  40.720001  288.436035  511.896636
2025-01-16  296.331632  497.015922  40.779999  291.150146  512.888686
2025-01-17  299.785952  496.519895  41.599998  292.383830  501.976158
2025-01-20  302.006595  506.936386  40.980000  297.812059  510.904577
2025-01-21  301.513140  512.392666  39.980000  295.838179  514.872786
2025-01-22  301.759863  509.912547  39.980000  296.578377  517.352905
2025-01-23  307.681572  509.416500  41.599998  299.045762  519.833001
2025-01-24  306.941337  506.936393  42.400002  302.006589  511.896632
2025-01-27  308.421790  498.503990  41.980000  300.772930  507.432420
2025-01-28  308.668499  498.503956  41.099998  300.772902  502.472147
2025-01-29  310.395677  518.344909  41.639999  304.967454  518.344909
2025-01-30  312.369577  541.658074  41.279999  307.928303  542.650122
2025-01-31  313.603249  542.650078  40.599998  308.915239  549.594411

Price                                Volume
Ticker       HTTBT.IS    THYAO.IS  BIMAS.IS HTTBT.IS  THYAO.IS
Date
2025-01-02  50.000000  278.566561   4989382  2678364  25569193
2025-01-03  46.400002  284.488233   3920752  4989418  40123161
2025-01-06  41.799999  295.591428   3149975  2558107  28979311
2025-01-07  42.720001  292.137113   3725433  1133039  27531422
2025-01-08  41.900002  289.176270   5533641  1057147  24336195
2025-01-09  41.500000  290.656674   4510285   825240  23214174
2025-01-10  41.599998  291.396901   4642079  1036640  24514821
2025-01-13  41.000000  288.929507   4025141   951340  19087499
2025-01-14  41.880001  287.449102   4311120   687172  26352017
2025-01-15  41.439999  289.669722   5244461   496354  35506445
2025-01-16  40.779999  295.097945   5961881   729980  33591167
2025-01-17  42.240002  294.110992   4966422   914489  35667354
2025-01-20  42.480000  301.019645   5429647  1034862  27879358
2025-01-21  41.779999  300.279453   4292429  1859555  24194618
2025-01-22  40.700001  297.812064   4572128   998604  23395068
2025-01-23  41.779999  302.006611   5965143  1024573  38920626
2025-01-24  43.119999  305.954387   4211125  1404095  25724625
2025-01-27  43.799999  303.240304   4335247  1011610  44353911
2025-01-28  42.639999  302.993538   6773295   953870  37742137
2025-01-29  41.840000  307.681566  16127248   616939  32487977
2025-01-30  41.700001  309.161990   6694164   590116  30495540
2025-01-31  41.279999  309.161976   5915944   746945  32123757

In [23]:
for ticker in tickers:
    data = yf.download(ticker,start="2025-01-01", end="2025-02-01")
    data.reset_index()
    print(data)

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2378800322.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker,start="2025-01-01", end="2025-02-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2378800322.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker,start="2025-01-01", end="2025-02-01")

Price            Close        High         Low        Open    Volume
Ticker        BIMAS.IS    BIMAS.IS    BIMAS.IS    BIMAS.IS  BIMAS.IS
Date
2025-01-02  526.777344  538.681916  521.817105  525.785296   4989382
2025-01-03  526.777344  533.225654  520.825057  527.769391   3920752
2025-01-06  529.257446  532.233589  524.793232  527.769375   3149975
2025-01-07  522.809143  530.249501  520.329024  527.769382   3725433
2025-01-08  529.753479  531.737574  518.840954  523.305169   5533641
2025-01-09  519.336975  536.697810  519.336975  532.233595   4510285
2025-01-10  518.840942  527.769372  517.848895  521.817085   4642079
2025-01-13  519.833008  519.833008  507.928435  518.344936   4025141
2025-01-14  510.904572  527.273359  510.408548  523.801192   4311120
2025-01-15  508.424469  514.376755  499.496039  511.896636   5244461
2025-01-16  499.992065  516.856877  497.015922  512.888686   5961881
2025-01-17  504.952301  508.424468  496.519895  501.976158   4966422
2025-01-20  516.360840  518.840959  506.936386  510.904577   5429647
2025-01-21  517.352905  524.793263  512.392666  514.872786   4292429
2025-01-22  517.352905  520.329049  509.912547  517.352905   4572128
2025-01-23  510.904572  522.809144  509.416500  519.833001   5965143
2025-01-24  509.912537  514.376751  506.936393  511.896632   4211125
2025-01-27  501.480133  507.432420  498.503990  507.432420   4335247
2025-01-28  518.344910  519.336957  498.503956  502.472147   6773295
2025-01-29  542.154053  550.586458  518.344909  518.344909  16127248
2025-01-30  548.106384  552.570599  541.658074  542.650122   6694164
2025-01-31  545.626221  553.562602  542.650078  549.594411   5915944

[*********************100%***********************]  1 of 1 completed
C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2378800322.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(ticker,start="2025-01-01", end="2025-02-01")

Price            Close        High         Low        Open    Volume
Ticker        THYAO.IS    THYAO.IS    THYAO.IS    THYAO.IS  THYAO.IS
Date
2025-01-02  283.748047  283.748047  277.579611  278.566561  25569193
2025-01-03  294.110992  295.838154  284.241496  284.488233  40123161
2025-01-06  293.124054  296.084903  291.396892  295.591428  28979311
2025-01-07  289.669739  294.357750  289.176264  292.137113  27531422
2025-01-08  289.176270  291.150169  287.202370  289.176270  24336195
2025-01-09  290.903412  293.617523  288.682775  290.656674  23214174
2025-01-10  289.669739  293.864275  288.682789  291.396901  24514821
2025-01-13  285.968658  290.656669  283.501284  288.929507  19087499
2025-01-14  289.669739  291.396901  286.215415  287.449102  26352017
2025-01-15  291.150146  294.604470  288.436035  289.669722  35506445
2025-01-16  293.864258  296.331632  291.150146  295.097945  33591167
2025-01-17  299.539215  299.785952  292.383830  294.110992  35667354
2025-01-20  301.759857  302.006595  297.812059  301.019645  27879358
2025-01-21  297.318604  301.513140  295.838179  300.279453  24194618
2025-01-22  301.266388  301.759863  296.578377  297.812064  23395068
2025-01-23  305.707672  307.681572  299.045762  302.006611  38920626
2025-01-24  304.967438  306.941337  302.006589  305.954387  25724625
2025-01-27  302.500092  308.421790  300.772930  303.240304  44353911
2025-01-28  307.681549  308.668499  300.772902  302.993538  37742137
2025-01-29  308.915253  310.395677  304.967454  307.681566  32487977
2025-01-30  308.915253  312.369577  307.928303  309.161990  30495540
2025-01-31  312.863037  313.603249  308.915239  309.161976  32123757

[*********************100%***********************]  1 of 1 completed

Price           Close       High        Low       Open   Volume
Ticker       HTTBT.IS   HTTBT.IS   HTTBT.IS   HTTBT.IS HTTBT.IS
Date
2025-01-02  46.400002  50.000000  46.400002  50.000000  2678364
2025-01-03  41.759998  46.660000  41.759998  46.400002  4989418
2025-01-06  42.580002  43.540001  40.580002  41.799999  2558107
2025-01-07  41.759998  43.360001  41.759998  42.720001  1133039
2025-01-08  41.160000  42.779999  41.160000  41.900002  1057147
2025-01-09  41.480000  42.220001  41.340000  41.500000   825240
2025-01-10  41.000000  41.980000  40.980000  41.599998  1036640
2025-01-13  41.299999  41.400002  39.900002  41.000000   951340
2025-01-14  41.419998  42.340000  41.400002  41.880001   687172
2025-01-15  41.099998  41.740002  40.720001  41.439999   496354
2025-01-16  42.240002  42.720001  40.779999  40.779999   729980
2025-01-17  42.380001  42.919998  41.599998  42.240002   914489
2025-01-20  42.000000  42.900002  40.980000  42.480000  1034862
2025-01-21  40.200001  41.799999  39.980000  41.779999  1859555
2025-01-22  41.959999  42.139999  39.980000  40.700001   998604
2025-01-23  42.740002  42.779999  41.599998  41.779999  1024573
2025-01-24  43.840000  45.080002  42.400002  43.119999  1404095
2025-01-27  42.680000  44.200001  41.980000  43.799999  1011610
2025-01-28  41.840000  43.119999  41.099998  42.639999   953870
2025-01-29  41.700001  42.919998  41.639999  41.840000   616939
2025-01-30  41.279999  42.820000  41.279999  41.700001   590116
2025-01-31  41.700001  42.259998  40.599998  41.279999   746945

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("../data/database.db")

ticker_dict = {"BIMAS.IS":1,"THYAO.IS":2}

df_list = []

for ticker,company_id in ticker_dict.items():

    df = yf.download(ticker,start="2025-01-01", end="2025-02-01")
    df = df.reset_index()
    df.columns = df.columns.droplevel(1).str.lower()
    df["company_id"] = company_id
    df["ticker"] = ticker

    df_list.append(df)

total_df = pd.concat(df_list,ignore_index=True)

total_df.to_sql('price', conn, if_exists='append', index=False)
conn.close()

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2203066083.py:11: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker,start="2025-01-01", end="2025-02-01")
[*********************100%***********************]  1 of 1 completed
C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2203066083.py:11: FutureWarning: YF.download() has changed argument auto_adjust default to True
  df = yf.download(ticker,start="2025-01-01", end="2025-02-01")
[*********************100%***********************]  1 of 1 completed

Veri başarıyla veritabanına aktarıldı!

In [ ]:
import pandas as pd
import yfinance as yf


ticker_dict = {"BIMAS.IS": 1, "THYAO.IS": 2, "HTTBT.IS": 3}
tickers = list(ticker_dict.keys())


data = yf.download(tickers, start='2025-01-01', end='2025-01-08')
data.columns = ['_'.join(col).strip() for col in data.columns.values]
data = data.reset_index()
data = pd.melt(data, id_vars=['Date'], var_name='ticker_info', value_name='value')
data[['data_type', 'ticker']] = data['ticker_info'].str.split('_', expand=True)
data.drop('ticker_info', axis=1, inplace=True)
data = data.pivot_table(index=['Date', 'ticker'], columns='data_type', values='value').reset_index()
data.columns.name = None
data.columns = data.columns.str.lower()
data['company_id'] = data['ticker'].map(ticker_dict)
data.drop('ticker', axis=1, inplace=True)   

data

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_16184\2180588133.py:9: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start='2025-01-01', end='2025-01-08')
[*********************100%***********************]  3 of 3 completed

,date,ticker,close,high,low,open,volume,company_id
0,2025-01-02,BIMAS.IS,526.777344,538.681916,521.817105,525.785296,4989382.0,1
1,2025-01-02,HTTBT.IS,46.400002,50.000000,46.400002,50.000000,2678364.0,3
2,2025-01-02,THYAO.IS,283.748047,283.748047,277.579611,278.566561,25569193.0,2
3,2025-01-03,BIMAS.IS,526.777344,533.225654,520.825057,527.769391,3920752.0,1
4,2025-01-03,HTTBT.IS,41.759998,46.660000,41.759998,46.400002,4989418.0,3
5,2025-01-03,THYAO.IS,294.110992,295.838154,284.241496,284.488233,40123161.0,2
6,2025-01-06,BIMAS.IS,529.257446,532.233589,524.793232,527.769375,3149975.0,1
7,2025-01-06,HTTBT.IS,42.580002,43.540001,40.580002,41.799999,2558107.0,3
8,2025-01-06,THYAO.IS,293.124054,296.084903,291.396892,295.591428,28979311.0,2
9,2025-01-07,BIMAS.IS,522.809143,530.249501,520.329024,527.769382,3725433.0,1
10,2025-01-07,HTTBT.IS,41.759998,43.360001,41.759998,42.720001,1133039.0,3
11,2025-01-07,THYAO.IS,289.669739,294.357750,289.176264,292.137113,27531422.0,2

In [ ]:
import sqlite3
import pandas as pd
conn = sqlite3.connect("../data/database.db")

ticker_dict = {"BIMAS.IS": 1, "THYAO.IS": 2, "HTTBT.IS": 3}
tickers = list(ticker_dict.keys())

data = yf.download(tickers, start='2025-01-01', end='2025-01-08')
data.columns = ['_'.join(col).strip() for col in data.columns.values]
data = data.reset_index()
data = pd.melt(data, id_vars=['Date'], var_name='ticker_info', value_name='value')
data[['data_type', 'ticker']] = data['ticker_info'].str.split('_', expand=True)
data.drop('ticker_info', axis=1, inplace=True)
data.drop('ticker', axis=1, inplace=True)
data = data.pivot_table(index=['Date', 'ticker'], columns='data_type', values='value').reset_index()
data.columns.name = None
data.columns = data.columns.str.lower()
data['company_id'] = data['ticker'].map(ticker_dict)

data.to_sql('price', conn, if_exists='append', index=False)
conn.close()

In [ ]:
from isyatirimhisse import fetch_stock_data
import yfinance as yf
import pandas as pd
from datetime import datetime

ticker_dict = ticker_dict = {"BIMAS.IS": 1, "THYAO.IS": 2, "HTTBT.IS": 3}
tickers = list(ticker_dict.keys())
start_date = '2025-01-09'
end_date = '2025-01-15'

start_date_object = datetime.strptime(start_date, "%Y-%m-%d")
end_date_object = datetime.strptime(end_date, "%Y-%m-%d")

data = yf.download(tickers, start=start_date, end=end_date)
data.columns = ['_'.join(col).strip() for col in data.columns.values]
data = data.reset_index()
data = pd.melt(data, id_vars=['Date'], var_name='ticker_info', value_name='value')
data[['data_type', 'ticker']] = data['ticker_info'].str.split('_', expand=True)
data.drop('ticker_info', axis=1, inplace=True)

data = data.pivot_table(index=['Date', 'ticker'], columns='data_type', values='value').reset_index()
data.columns.name = None
data.columns = data.columns.str.lower()
data['company_id'] = data['ticker'].map(ticker_dict)

mc_df = fetch_stock_data(
    symbols=[s[:-3] for s in tickers],
    start_date=start_date_object.strftime("%d-%m-%Y"),
    end_date=end_date_object.strftime("%d-%m-%Y"),
    save_to_excel=False
)
mc_df = mc_df[["HGDG_HS_KODU","HGDG_TARIH","PD"]]
mc_df = mc_df.rename(columns={"HGDG_HS_KODU": "ticker", "HGDG_TARIH": "date","PD":"market_cap"})
mc_df["ticker"] = mc_df["ticker"] + ".IS"
data = data.merge(
    mc_df,
    how="left",
    left_on=["ticker", "date"],
    right_on=["ticker", "date"]
)
data

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_14788\1297057868.py:14: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start=start_date, end=end_date)
[*********************100%***********************]  3 of 3 completed

,date,ticker,close,high,low,open,volume,company_id,market_cap
0,2025-01-09,BIMAS.IS,519.336975,536.697810,519.336975,532.233595,4510285.0,1,3.178692e+11
1,2025-01-09,HTTBT.IS,41.480000,42.220001,41.340000,41.500000,825240.0,3,1.244400e+10
2,2025-01-09,THYAO.IS,290.903412,293.617523,288.682775,290.656674,23214174.0,2,4.067550e+11
3,2025-01-10,BIMAS.IS,518.840942,527.769372,517.848895,521.817085,4642079.0,1,3.175656e+11
4,2025-01-10,HTTBT.IS,41.000000,41.980000,40.980000,41.599998,1036640.0,3,1.230000e+10
5,2025-01-10,THYAO.IS,289.669739,293.864275,288.682789,291.396901,24514821.0,2,4.050300e+11
6,2025-01-13,BIMAS.IS,519.833008,519.833008,507.928435,518.344936,4025141.0,1,3.181728e+11
7,2025-01-13,HTTBT.IS,41.299999,41.400002,39.900002,41.000000,951340.0,3,1.239000e+10
8,2025-01-13,THYAO.IS,285.968658,290.656669,283.501284,288.929507,19087499.0,2,3.998550e+11
9,2025-01-14,BIMAS.IS,510.904572,527.273359,510.408548,523.801192,4311120.0,1,3.127080e+11
10,2025-01-14,HTTBT.IS,41.419998,42.340000,41.400002,41.880001,687172.0,3,1.242600e+10
11,2025-01-14,THYAO.IS,289.669739,291.396901,286.215415,287.449102,26352017.0,2,4.050300e+11

In [ ]:
data["stock_count"] = data["market_cap"] / data["close"]
data

,date,ticker,close,high,low,open,volume,company_id,market_cap,stock_count
0,2025-01-09,BIMAS.IS,519.336975,536.697810,519.336975,532.233595,4510285.0,1,3.178692e+11,6.120673e+08
1,2025-01-09,HTTBT.IS,41.480000,42.220001,41.340000,41.500000,825240.0,3,1.244400e+10,3.000000e+08
2,2025-01-09,THYAO.IS,290.903412,293.617523,288.682775,290.656674,23214174.0,2,4.067550e+11,1.398248e+09
3,2025-01-10,BIMAS.IS,518.840942,527.769372,517.848895,521.817085,4642079.0,1,3.175656e+11,6.120673e+08
4,2025-01-10,HTTBT.IS,41.000000,41.980000,40.980000,41.599998,1036640.0,3,1.230000e+10,3.000000e+08
5,2025-01-10,THYAO.IS,289.669739,293.864275,288.682789,291.396901,24514821.0,2,4.050300e+11,1.398248e+09
6,2025-01-13,BIMAS.IS,519.833008,519.833008,507.928435,518.344936,4025141.0,1,3.181728e+11,6.120673e+08
7,2025-01-13,HTTBT.IS,41.299999,41.400002,39.900002,41.000000,951340.0,3,1.239000e+10,3.000000e+08
8,2025-01-13,THYAO.IS,285.968658,290.656669,283.501284,288.929507,19087499.0,2,3.998550e+11,1.398248e+09
9,2025-01-14,BIMAS.IS,510.904572,527.273359,510.408548,523.801192,4311120.0,1,3.127080e+11,6.120673e+08
10,2025-01-14,HTTBT.IS,41.419998,42.340000,41.400002,41.880001,687172.0,3,1.242600e+10,3.000000e+08
11,2025-01-14,THYAO.IS,289.669739,291.396901,286.215415,287.449102,26352017.0,2,4.050300e+11,1.398248e+09

In [2]:
import yfinance as yf
yf.download(["BIMAS.IS","THYAO.IS"], start="2025-09-01", end="2025-09-02")

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_22764\1383312361.py:2: FutureWarning: YF.download() has changed argument auto_adjust default to True
  yf.download(["BIMAS.IS","THYAO.IS"], start="2025-09-01", end="2025-09-02")
[*********************100%***********************]  2 of 2 completed

Price         Close                 High                  Low              \
Ticker     BIMAS.IS    THYAO.IS BIMAS.IS    THYAO.IS BIMAS.IS    THYAO.IS
Date
2025-09-01    529.5  334.057983    530.0  336.779937    520.0  331.336029

Price          Open              Volume
Ticker     BIMAS.IS   THYAO.IS BIMAS.IS  THYAO.IS
Date
2025-09-01    530.0  331.58348  3811537  17815923

In [ ]:
from isyatirimhisse import fetch_stock_data

mc_df = fetch_stock_data(
        ["BIMAS","THYAO"],
        start_date="01-09-2025",
        end_date="01-09-2025",
        save_to_excel=False
    )
mc_df

,HGDG_HS_KODU,HGDG_TARIH,HGDG_KAPANIS,HGDG_AOF,HGDG_MIN,HGDG_MAX,HGDG_HACIM,END_ENDEKS_KODU,END_TARIH,END_SEANS,...,HG_MIN,HG_MAX,PD,PD_USD,HAO_PD,HAO_PD_USD,HG_HACIM,DOLAR_BAZLI_MIN,DOLAR_BAZLI_MAX,DOLAR_BAZLI_AOF
0,BIMAS,2025-09-01,529.500,525.16900,520.00000,530.00000,2.001703e+09,01,1756674000000,2,...,520.00,530.00,3.177000e+11,7.727708e+09,2.144475e+11,5.216203e+09,2.001703e+09,12.6484,12.8917,12.7742
1,THYAO,2025-09-01,334.058,334.03915,331.33603,336.77994,6.012544e+09,01,1756674000000,2,...,334.75,340.25,4.657500e+11,1.132886e+10,2.357626e+11,5.734671e+09,6.012544e+09,8.0594,8.1918,8.1251

In [3]:
import numpy as np
import pandas as pd
# Sütun adlarını 3 seviyeli tuple'lar olarak tanımla
columns_yf = pd.MultiIndex.from_tuples([
    ('Close', 'BIMAS.IS'),
    ('High', 'BIMAS.IS'),
    ('Low', 'BIMAS.IS'),
    ('Open', 'BIMAS.IS'),
    ('Volume', 'BIMAS.IS'),
    ('Close', 'THYAO.IS'),
    ('High', 'THYAO.IS'),
    ('Low', 'THYAO.IS'),
    ('Open', 'THYAO.IS'),
    ('Volume', 'THYAO.IS')
])

# Veriyi bir satır ve 10 sütunluk bir NumPy dizisi olarak hazırla
data_yf = np.array([[
    529.5, 530.0, 520.0, 530.0, 3811537,
    334.057, 336.779, 331.336, 331.583, 17815923
]])

# DataFrame'i oluştur
mock_df_yf = pd.DataFrame(
    data_yf,
    columns=columns_yf,
    index=pd.DatetimeIndex(['2025-09-01'])
)
mock_df_yf.index.name = 'Date'

mock_df_yf

,Close,High,Low,Open,Volume,Close,High,Low,Open,Volume
,BIMAS.IS,BIMAS.IS,BIMAS.IS,BIMAS.IS,BIMAS.IS,THYAO.IS,THYAO.IS,THYAO.IS,THYAO.IS,THYAO.IS
Date,,,,,,,,,,
2025-09-01,529.5,530.0,520.0,530.0,3811537.0,334.057,336.779,331.336,331.583,17815923.0

# 07 09 2025

In [ ]:
import sqlite3
import pandas as pd
import yfinance as yf
import json
import os
from isyatirimhisse import fetch_stock_data
from datetime import datetime

# yf verilerini çekip işleyen fonksiyon
def _fetch_and_process_yf(ticker_dict: dict, start_date: str, end_date: str):

    tickers = list(ticker_dict.keys())

    try:
        data = yf.download(tickers, start=start_date, end=end_date)
    except Exception as e: 
        print(f"Hata: Veri çekilemedi. Bağlantı sorunu olabilir. Hata detayları: {e}")
        return pd.DataFrame()
    
    if data.empty:
        return pd.DataFrame()

    data.columns = ['_'.join(col).strip() for col in data.columns.values]
    data = data.reset_index()
    data = pd.melt(data, id_vars=['Date'], var_name='ticker_info', value_name='value')
    data[['data_type', 'ticker']] = data['ticker_info'].str.split('_', expand=True)
    data.drop('ticker_info', axis=1, inplace=True)

    data = data.pivot_table(index=['Date', 'ticker'], columns='data_type', values='value').reset_index()
    data.columns.name = None
    data.columns = data.columns.str.lower()
    data['company_id'] = data['ticker'].map(ticker_dict)

    data = data.drop_duplicates(subset=["date", "ticker"], keep="last") # eğer aynı veriden iki tane varsa en sonuncusu kalsın

    return data

# isyatirimhisse'den gelen market_cap verisini ekleyen fonksiyon
def _fetch_and_merge_is(yf_df: pd.DataFrame,ticker_dict: dict, start_date: str, end_date: str):

    tickers = list(ticker_dict.keys())

    start_date_object = datetime.strptime(start_date, "%Y-%m-%d")
    end_date_object = datetime.strptime(end_date, "%Y-%m-%d")

    mc_df = fetch_stock_data(
        symbols=[s[:-3] for s in tickers],
        start_date=start_date_object.strftime("%d-%m-%Y"),
        end_date=end_date_object.strftime("%d-%m-%Y"),
        save_to_excel=False
    )

    expected_cols = ["HGDG_HS_KODU","HGDG_TARIH","PD"]
    if not mc_df.empty and all(col in mc_df.columns for col in expected_cols):
        mc_df = mc_df[expected_cols]
        mc_df = mc_df.rename(columns={"HGDG_HS_KODU": "ticker", "HGDG_TARIH": "date","PD":"market_cap"})
        mc_df["ticker"] = mc_df["ticker"] + ".IS"
        mc_df = mc_df.drop_duplicates(subset=["date", "ticker"], keep="last")

        mc_df['date'] = pd.to_datetime(mc_df['date'])

        merged_df = yf_df.merge(
            mc_df,
            how="left",
            left_on=["ticker", "date"],
            right_on=["ticker", "date"]
        )
    else:
        merged_df = yf_df
        merged_df["market_cap"] = pd.NA

    
    merged_df.drop('ticker', axis=1, inplace=True)

    return merged_df
    

def _get_ticker_dict() -> dict:
    """Proje kök dizinindeki config klasöründen ticker sözlüğünü okur."""
    
    # Mevcut dosyanın (fetch_prices.py) dizinini bulur
    current_dir = os.getcwd()
    
    # Bir seviye yukarı çıkarak proje kök dizinine ulaşır
    project_root = os.path.dirname(current_dir)
    
    # JSON dosyasının tam yolunu oluşturur
    json_path = os.path.join(project_root, 'config', "ticker_dict.json")
    
    # Dosyayı açar ve veriyi okur
    try:
        with open(json_path, 'r') as f:
            return json.load(f)
    except FileNotFoundError:
        print(f"Hata: Konfigürasyon dosyası bulunamadı. Lütfen '{json_path}' adresini kontrol edin.")
        return {}
    

def fetch_prices(conn, ticker_dict: dict, start_date: str, end_date: str):
    yfinance_df = _fetch_and_process_yf(ticker_dict, start_date, end_date)
    if yfinance_df.empty:
        print("yfinance'ten veri alınamadı. İşlem durduruldu.")
        return pd.DataFrame()

    new_data_df = _fetch_and_merge_is(yfinance_df, ticker_dict, start_date, end_date)

    # -----------------------------------------------------------
    # Bu koyacağımız veri database'de zaten var mı ona bakacağız.
    # -----------------------------------------------------------
    if conn is not None: # bu kısım testlerde conn'un None olduğu durumları engellemek için
        try:
            # Sadece ilgili tarih aralığını DB’den çek
            query = """
            SELECT *
            FROM price 
            WHERE date BETWEEN ? AND ?
            """
            existing_data = pd.read_sql_query(query, conn, params=[start_date, end_date])
            existing_data['date'] = pd.to_datetime(existing_data['date'])

            merged_df = new_data_df.merge(
                existing_data,
                on=['company_id', 'date'],
                how='left',
                indicator=True
            )

            # burada sadece yeni güne ait veriler var
            new_data_df = merged_df[merged_df['_merge'] == 'left_only'].drop(columns=['_merge'])
            new_data_df.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in new_data_df.columns]
            new_data_df = new_data_df[["date","close","high","low","open","volume","company_id","market_cap"]]

            # bu kısımda ise daha önceden olan ancak değişmiş verileri değiştireceğiz
            new_values = merged_df[['open_x', 'close_x', 'high_x', 'low_x', 'volume_x', 'market_cap_x']]
            new_values.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in new_values.columns]
            old_values = merged_df[['open_y', 'close_y', 'high_y', 'low_y', 'volume_y', 'market_cap_y']]
            old_values.columns = [col.replace('_y', '') if col.endswith('_y') else col for col in new_values.columns]
            diffs = new_values.ne(old_values)   # element bazlı karşılaştırma (True/False)
            row_has_diff = diffs.any(axis=1)
            update_df = merged_df[row_has_diff & (merged_df['_merge'] == 'both')]

            update_df.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in update_df.columns]
            update_df = update_df[["date","close","high","low","open","volume","company_id","market_cap"]]

            update_list = [
                (
                    float(row.open), float(row.close), float(row.high), float(row.low),
                    int(row.volume) if pd.notna(row.volume) else None,
                    float(row.market_cap) if pd.notna(row.market_cap) else None,
                    int(row.company_id), 
                    row.date.strftime('%Y-%m-%d %H:%M:%S')  # string'e çevir
                )
                for row in update_df.itertuples(index=False)
            ]

        

        except Exception as e:
            print(f"Hata: Veritabanından mevcut veri çekilemedi. İşlem durduruldu: {e}")
            return pd.DataFrame()

    return new_data_df.drop_duplicates(subset=["date", "company_id"], keep="last"),update_list



if __name__ == "__main__":
    db_path = "C:/Users/KULLANICI/Desktop/portfolio-backtest-project/data/database.db"

    ticker_dict = _get_ticker_dict()
    start_date = '2025-08-21'
    end_date = '2025-09-03'


    with sqlite3.connect(db_path) as conn:
        #conn.execute("PRAGMA journal_mode=WAL;")

        new_data_df,update_list = fetch_prices(conn,ticker_dict,start_date,end_date)
        
        new_data_df.to_sql('price', conn, if_exists='append', index=False)

        if update_list:
            conn.executemany(
                "UPDATE price SET open=?, close=?, high=?, low=?, volume=?, market_cap=? "
                "WHERE company_id=? AND date=?",
                update_list
            )
    
    print("Price fetch completed.")

C:\Users\KULLANICI\AppData\Local\Temp\ipykernel_30956\3932719897.py:15: FutureWarning: YF.download() has changed argument auto_adjust default to True
  data = yf.download(tickers, start=start_date, end=end_date)
[*********************100%***********************]  2 of 2 completed

Price fetch completed.

In [ ]:
new_values = merged_df[['open_x', 'close_x', 'high_x', 'low_x', 'volume_x', 'market_cap_x']]
new_values.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in new_values.columns]
old_values = merged_df[['open_y', 'close_y', 'high_y', 'low_y', 'volume_y', 'market_cap_y']]
old_values.columns = [col.replace('_y', '') if col.endswith('_y') else col for col in new_values.columns]

In [56]:
diffs = new_values.ne(old_values)   # element bazlı karşılaştırma (True/False)
row_has_diff = diffs.any(axis=1)
update_df = merged_df[row_has_diff & (merged_df['_merge'] == 'both')]

update_df.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in update_df.columns]
update_df = update_df[["date","close","high","low","open","volume","company_id","market_cap"]]
update_df

         date  close   high    low   open     volume  company_id    market_cap
8  2025-08-27  530.5  539.0  530.0  537.0  3345228.0           1  3.183000e+11
10 2025-08-28  536.0  545.0  532.5  533.0  4814628.0           1  3.216000e+11
12 2025-08-29  530.0  537.0  522.5  536.0  5594214.0           1  3.180000e+11
14 2025-09-01  529.5  530.0  520.0  530.0  3811537.0           1  3.177000e+11

In [69]:
update_df.dtypes

date          datetime64[ns]
close                float64
high                 float64
low                  float64
open                 float64
volume               float64
company_id             int64
market_cap           float64
dtype: object

In [70]:
new_data_df.dtypes

date          datetime64[ns]
close                float64
high                 float64
low                  float64
open                 float64
volume               float64
company_id             int64
market_cap           float64
dtype: object

In [ ]:
final_df.columns = [col.replace('_x', '') if col.endswith('_x') else col for col in final_df.columns]
final_df = final_df[["date","close","high","low","open","volume","company_id","market_cap"]]

,date,close,high,low,open,volume,company_id,market_cap
0,2025-08-21,529.00000,534.500000,516.000000,516.000000,6679930.0,1,3.174000e+11
1,2025-08-21,333.56308,338.017186,332.325828,336.532484,26330388.0,2,4.650600e+11

In [68]:
update_list[0][7].type()

AttributeError: 'Timestamp' object has no attribute 'type'